R/cpp11.R linguist-generated=true
R/dust.R linguist-generated=true
src/cpp11.cpp linguist-generated=true
src/logistic.cpp linguist-generated=true
src/malaria.cpp linguist-generated=true
src/sir.cpp linguist-generated=true
src/sirode.cpp linguist-generated=true
src/walk.cpp linguist-generated=true
R/import-*.R linguist-generated=true
inst/include/lostturnip.hpp linguist-vendored=true
